absl-py==0.11.0
aeidon==1.7
alabaster==0.7.8
alembic==1.4.1
aniso8601==6.0.0
ansi2html==1.6.0
appdirs==1.4.4
apt-xapian-index==0.49
astroid==2.8.5
astunparse==1.6.3
atomicwrites==1.1.5
attrs==21.2.0
Automat==0.8.0
autopep8==1.5.4
Babel==2.9.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
black==21.11b1
blinker==1.4
brial==1.0.2
Brotli==1.0.9
bs4==0.0.1
cachetools==4.1.1
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.3
command-not-found==0.3
commonmark==0.9.1
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
cvxopt==1.2.3
cycler==0.10.0
cypari2==2.1.1
Cython==0.29.14
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-cli==0.15.0
dbus-python==1.2.16
dc-stat-think==1.1.1
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
docker==5.0.2
docutils==0.16
ecdsa==0.16.1
empiricaldist==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
feedparser==5.2.1
filelock==3.0.12
findspark==1.4.2
flake8==4.0.1
Flask==1.1.2
Flask-Compress==1.10.1
Flask-Cors==3.0.9
Flask-Migrate==2.5.3
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fpylll==0.5.1.dev0
fuse-python==1.0.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
gensim==4.1.2
gitdb==4.0.7
GitPython==3.1.24
gmpy2==2.1.0b3
google-api-core==1.29.0
google-auth==1.30.1
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-bigquery==2.18.0
google-cloud-core==1.6.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
gpg===1.16.0-unknown
graphframes==0.6
grpcio==1.33.2
gunicorn==20.1.0
h5py==2.10.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imagesize==1.2.0
importlib-metadata==4.8.1
incremental==16.10.1
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.10.1
itsdangerous==1.1.0
jedi==0.17.2
jellyfish==0.8.8
Jinja2==2.10.1
joblib==0.17.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyter-dash==0.4.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.3.1
langdetect==1.0.9
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.6.0
lineedit==0.1.5
llvmlite==0.36.0
lxml==4.6.3
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.4.3
mccabe==0.6.1
missingno==0.5.0
mistune==0.8.4
mizani==0.7.3
mlflow==1.20.2
more-itertools==4.2.0
mpmath==1.2.1
mutagen==1.45.1
mypy-extensions==0.4.3
netifaces==0.10.4
networkx==2.5.1
nltk==3.7
nose==1.3.7
numba==0.53.1
numpy==1.21.2
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.3.56
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
palettable==3.3.0
pandas==1.3.1
parso==0.7.1
path.py==12.0.1
pathspec==0.9.0
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.3.2
pkgconfig==1.5.1
platformdirs==2.4.0
plotly==5.3.1
plotnine==0.8.0
pluggy==0.13.1
pplpy==0.8.4
prometheus-flask-exporter==0.18.2
prompt-toolkit==3.0.7
proto-plus==1.18.1
protobuf==3.14.0
psutil==5.5.1
psycopg2-binary==2.8.6
py==1.10.0
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.3.1
pycryptodomex==3.11.0
pycups==1.9.73
pyflakes==2.4.0
Pygments==2.6.1
PyGObject==3.36.0
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pylibacl==0.5.4
pylint==2.11.1
pymacaroons==0.13.0
pymongo==3.12.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyspark==3.1.2
PyStemmer==1.3.0
pytest==6.2.4
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-jose-cryptodome==1.3.2
python3-openid==3.1.0
pytube==10.7.1
pytz==2019.1
pyxattr==0.6.1
PyYAML==5.3.1
pyzmq==19.0.2
querystring-parser==1.2.4
radian==0.5.9
rapidfuzz==1.4.1
rchitect==0.3.29
recordlinkage==0.14
regex==2021.11.10
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retrying==1.3.3
rich==10.1.0
roman==2.0.0
rope==0.17.0
rpy2==3.2.6
rsa==4.6
sage==9.0
sas7bdat==2.2.3
scikit-learn==0.23.2
scipy==1.5.4
screen-resolution-extra==0.0.0
seaborn==0.11.1
SecretStorage==2.3.1
selenium==3.141.0
service-identity==18.1.0
setuptools-scm==3.4.3
simplegeneric==0.8.1
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sklearn==0.0
smart-open==5.2.1
smmap==4.0.0
snowballstemmer==2.0.0
soupsieve==2.2.1
Sphinx==1.8.5
spotdl==3.5.1
spotipy==2.17.1
SQLAlchemy==1.3.22
sqlparse==0.4.2
stanfordkarel==0.2.5
statsmodels==0.12.2
sympy==1.8
tabulate==0.8.9
tartube==2.3.332
tenacity==8.0.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.2
threadpoolctl==2.1.0
tk==0.1.0
toml==0.10.1
tomli==1.2.2
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
tornado==6.0.4
tqdm==4.60.0
traitlets==5.0.4
Twisted==18.9.0
typing_extensions==4.0.0
tzlocal==2.1b1
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.26.4
vcversioner==2.16.0.0
virtualenv==20.2.2
wadllib==1.3.3
wcwidth==0.2.5
websocket-client==1.2.1
websockets==10.0
Werkzeug==1.0.1
wrapt==1.13.3
WTForms==2.3.3
xgboost==1.4.2
xkit==0.0.0
youtube-dl==2020.3.24
yt-dlp==2021.10.22
ytmusicapi==0.15.1
zipp==1.0.0
zope.interface==4.7.1
